:root {
    --bg: #14120b;
    --font: #FFFFFF;
    --bg-2: #CCCCCC;
    --btn: #514f4f;
    --btn-hover: #1f1f1f;
    --logo: #1b1913;
}

* {
    margin: 0px;
    padding: 0;
}

body {
    background-color: var(--bg);
    color: var(--font);
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

h1 {
    font-weight: 100;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: var(--bg);
    color: var(--font);
    width: 100%;
    height: 45px;
    padding-top: 6px;
}

#nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 250px;
}

.child-1 {
    display: flex;
    align-items: center;
}

.child-2 ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    font-size: 13px;
}

.child-3 button {
    padding: 6px 15px;
    border-radius: 20px;
}

.signbtn {
    background-color: var(--bg);
    color: var(--font);
    border: 0.01px solid var(--btn);
}

.downloadbtn {
    background-color: var(--font);
    color: var(--bg);
    border: none;
}

.child-2 ul li:hover {
    color: var(--bg-2);
}

.signbtn:hover {
    background-color: var(--btn-hover);
}

.downloadbtn:hover {
    background-color: var(--bg-2);
}

.intro {
    margin-top: 115px;
    margin-left: 24px;
    width: 680px;
    font-size: 15px;
}

.downloadwin {
    background-color: var(--font);
    color: var(--bg);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 15px;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.downloadwin:hover {
    background-color: var(--bg-2);
}

.screenshot1 {
    margin: 60px 24px;
}

.trustbar {
    text-align: center;
    font-size: 14px;
}

.trustbar p {
    margin-bottom: 20px;
}

.trustbar ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.trustbar ul li {
    background-color: var(--logo);
    width: 140px;
    height: 100px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.01px solid #26231b;
}

.trustbar ul li img {
    width: 90px;
}

.window {
    display: flex;
    align-items: center;
    margin: 60px 35px;
    border: 0.01px solid #26231b;
    border-radius: 8px;
    padding: 20px;
    background-color: var(--logo);
    width: 92%;
}

.window h3 {
    color: #999999;
    font-weight: 400;
    font-size: 20px;
    margin-right: 40px;
}

.window h2 {
    font-weight: 400;
    font-size: 22px;
}

.redone {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    margin-top: 15px;
    color: #f54e00;
    font-size: 16px;
}

.redone:hover {
    color: #f54e00bf;
}

.window2 div {
    margin-left: 40px;
}

.window3 h3 {
    font-size: 22px;
}