:root {
    --bg: #14120b;
    --font: #FFFFFF;
    --bg-2: #CCCCCC;
    --btn: #514f4f;
    --btn-hover: #1f1f1f;
    --logo: #1b1913;
}

* {
    margin: 0px;
    padding: 0;
}

body {
    background-color: var(--bg);
    color: var(--font);
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

h1 {
    font-weight: 100;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: var(--bg);
    color: var(--font);
    width: 100%;
    height: 45px;
    padding-top: 6px;
}

#nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 250px;
}

.child-1 {
    display: flex;
    align-items: center;
}

.child-2 ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    font-size: 13px;
}

.child-3 button {
    padding: 6px 15px;
    border-radius: 20px;
}

.signbtn {
    background-color: var(--bg);
    color: var(--font);
    border: 0.01px solid var(--btn);
}

.downloadbtn {
    background-color: var(--font);
    color: var(--bg);
    border: none;
}

.child-2 ul li:hover {
    color: var(--bg-2);
}

.signbtn:hover {
    background-color: var(--btn-hover);
}

.downloadbtn:hover {
    background-color: var(--bg-2);
}

.intro {
    margin-top: 115px;
    margin-left: 24px;
    width: 680px;
    font-size: 15px;
}

.downloadwin {
    background-color: var(--font);
    color: var(--bg);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 15px;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.downloadwin:hover {
    background-color: var(--bg-2);
}

.screenshot1 {
    margin: 60px 24px;
}

.trustbar {
    text-align: center;
    font-size: 14px;
}

.trustbar h4 {
    margin-bottom: 22px;
    font-weight: 100;
}

.trustbar ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.trustbar ul li {
    background-color: var(--logo);
    width: 140px;
    height: 100px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.01px solid #26231b;
}

.trustbar ul li img {
    width: 90px;
}

.window {
    display: flex;
    align-items: center;
    margin: 80px 35px;
    border: 0.01px solid #26231b;
    border-radius: 8px;
    padding: 20px;
    background-color: var(--logo);
    width: 92%;
}

.window h3 {
    color: #999999;
    font-weight: 400;
    font-size: 20px;
    margin-right: 40px;
}

.window h2 {
    font-weight: 400;
    font-size: 22px;
}

.redone {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    margin-top: 15px;
    color: #f54e00;
    font-size: 16px;
}

.redone:hover {
    color: #f54e00bf;
}

.window2 div {
    margin-left: 40px;
}

.window3 h3 {
    font-size: 22px;
}

.feature-card {
    text-align: center;
}

.feature-card h2 {
    margin-bottom: 45px;
    font-weight: 100;
    font-size: 35px;
}

.feature-card ul {
    margin: 5px;
    display: grid;
    grid-template-rows: repeat(2,300px);
    grid-template-columns: repeat(3, 400px);
}

.feature-card ul li {
    /* box-sizing: border-box; */
    list-style: none;
    background-color: var(--logo);
    border-radius: 8px;
    border: 0.01px solid #26231b;
    margin: 5px;
    text-align: start;
    height: 250px;
    padding: 18px;
    display: grid;
    grid-template-columns: 350px;
    line-height: 1.5;
    grid-template-rows: 200px 70px;
}

.feature-card ul li img {
    border-radius: 5px;
}

.container {
    width: 295px;
    display: flex;
align-items: center;
    align-self: start;
}

.container p,
h5 {
    font-size: 15px;
    text-align: start;
    margin: 5px;
    font-weight: 100;
}

.container p {
    color: #999999;

}