

:root {
    --bg: #14120b;
    --font: #FFFFFF;
    --bg-2: #CCCCCC;
    --btn: #514f4f;
    --btn-hover: #1f1f1f;
}

* {
    margin: 0px;
    padding: 0;
}

body {
    background-color: var(--bg);
    color: var(--font);
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
header{
   position: fixed;
    top: 0;
    left: 0;
    z-index: 10; 
    background-color: var(--bg);
    color: var(--font);
    width: 100%;
    height: 45px;
    padding-top: 6px;
}
#nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 250px;
}

.child-1 {
    display: flex;
    align-items: center;
}

.child-2 ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    font-size: 13px;
}

.child-3 button {
    padding: 6px 12px;
    border-radius: 20px;
}

.signbtn {
    background-color: var(--bg);
    color: var(--font);
    border: 0.01px solid var(--btn);
}

.downloadbtn {
    background-color: var(--font);
    color: var(--bg);
    border: none;
}

.child-2 ul li:hover {
    color: var(--bg-2);
}

.signbtn:hover {
    background-color: var(--btn-hover);
}

.downloadbtn:hover {
    background-color: var(--bg-2);
}

.intro {
    margin-top: 115px;
    padding-left: 9px;
    width: 680px;
    font-size: 1.65rem;
}

.downloadwin {
    background-color: var(--font);
    color: var(--bg);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 15px;
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.downloadwin:hover{
     background-color: var(--bg-2);
}
.screenshot1{
    margin: 60px 15px;
}