@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600;700&display=swap');
:root{
    --bg:#14120b;
    --font:#FFFFFF;
    --bg-2:#CCCCCC;
    --btn:#514f4f;
    --btn-hover:#1f1f1f;
}

*{
margin: 2px;padding: 0;
}
body{
    background-color:var(--bg) ;
    color: var(--font);
    font-family: 'JetBrains Mono', monospace;
}

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.child-1{
    display: flex;
    align-items: center;
}
.child-2 ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
    font-size: 13px;
}
.child-3 button{
padding: 4px 10px;
border-radius: 20px;
}
.signbtn{
    background-color: var(--bg);
    color: var(--font);
    border: 0.01px solid var(--btn);
}
.downloadbtn{
background-color: var(--font);
color: var(--bg);
border: none;
}
.child-2 ul li:hover{
    color: var(--bg-2);
}
.signbtn:hover{
    background-color: var(--btn-hover);
}
.downloadbtn:hover{
    background-color: var(--bg-2);
}